.title_ipt {
  height: 1.2rem;
  background-color: #151728;
  outline: none;
  width: 100%;
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding-left: 0.2rem;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 111;
}
/* 左侧发布 */
.publish_left {
  background-color: #24273b;
}
.code_det {
  height: calc(100vh - 1.2rem);
  width: 100%;
  padding: 0.3rem;
  font-size: 0.36rem;
}
/* 右侧发布 */
.publish_right {
  background-color: #31364b;
}
