/* 右侧部分 */
.right {
  width: 4.958rem;
}
.personal_info {
  background-color: #151728;
  padding: 0.4rem 0.4rem 0rem 0.4rem;
  border-radius: 0.08rem;
}
.self_info {
  height: 1.6rem;
  display: flex;
  justify-content: start;
  border-bottom: 0.02rem solid #272a3a;
}
.avatar {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 1rem;
  padding: 0.2rem;
  background-color: palegoldenrod;
  margin-top: 0.2rem;
}
.info_det {
  width: 80%;
  margin-left: 0.2rem;
}
.info_det p {
  color: #bbbcc5;
  font-weight: bold;
}
.info_desc {
  font-size: 0.26rem;
  color: #595c6c;
  height: 0.82rem;
  overflow: hidden;
}
.achieve {
  height: 2.4rem;
  color: #c3c5d5;
  border-bottom: 0.02rem solid #272a3a;
}
.achieve p {
  margin: 0.2rem;
  font-size: 0.3rem;
  vertical-align: bottom;
}
.entrance {
  height: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
  color: #5c5d71;
  cursor: pointer;
}
.entrance:hover {
  cursor: pointer;
}
.box {
  background-color: #151728;
  border-radius: 0.08rem;
}
.event {
  position: relative;
  margin-top: 0.4rem;
  padding: 0.2rem;
}

.event-wrapper {
  position: relative;
}

.event-img {
  max-width: 100%;
  display: block;
  padding-bottom: 0.24rem;
}

.event-date {
  position: absolute;
  left: 0.4rem;
  top: 0.3rem;
  width: 1rem;
  height: 1.5rem;
}

.event-month {
  background-color: #1687fa;
  padding: 0.14rem 0rem;
  font-weight: 600;
  font-size: 0.3rem;
  color: #fff;
  text-align: center;
  border-radius: 0.08rem 0.08rem 0 0;
}

.event-day {
  width: 100%;
  backdrop-filter: blur(0.08rem);
  color: #fff;
  font-size: 0.4rem;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0.12rem 0;
  text-align: center;
}

.event-title {
  color: #c3c5d5;
  margin-bottom: 0.1rem;
  font-weight: 600;
  padding: 0 0.28rem;
}

.event-subtitle {
  color: #5c5e6e;
  font-size: 0.26rem;
  font-weight: 500;
  padding: 0 0.28rem;
}
