.list {
  ul {
    list-style: none;
    height: 100%;

    li {
      border-bottom: 0.02rem solid #272a3a;
      background-color: #151728;
      padding: 0.34rem 0.6rem;
      height: 2.68rem;
      opacity: 0.9;
      transition: 0.36s ease;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }

      &:first-child {
        border-radius: 0.08rem 0.08rem 0 0;
      }

      &:last-child {
        border-radius: 0 0 0.08rem 0.08rem;
      }
    }
  }
}

.title {
  color: #d3d3d6;
  font-size: 0.36rem;
  font-weight: 700;
}

.describe {
  color: #595c6c;
  font-size: 0.26rem;
  margin: 0.06rem 0;
}

.detail {
  color: #c9c6d3;
  font-size: 0.28rem;
  height: 0.44rem;
  overflow: hidden;
}

.article_info {
  display: flex;
  justify-content: flex-start;
  color: #a2a4b4;
  font-size: 0.26rem;
  margin-top: 0.16rem;
}

.dianzan {
  margin-right: 0.4rem;
  color: #a2a4b4;
  vertical-align: bottom;
}

.dianzan span {
  vertical-align: bottom;
}

@media screen and (max-width: 750px) {
  .list {
    padding: 1rem 0;

    ul {
      list-style: none;

      li {
        height: auto;
        padding: 1rem 2rem;

        &:first-child {
          border-radius: 0.08rem 0.08rem 0 0;
        }

        &:last-child {
          border-radius: 0 0 0.08rem 0.08rem;
        }
      }
    }
  }

  .title {
    width: 70%;
    font-size: 1.2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .describe {
    color: #595c6c;
    font-size: 0.26rem;
    margin: 0.2rem 0;
  }

  .detail {
    color: var(--theme-text-color);
    height: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .article_info {
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }

  .dianzan {
    margin-right: 1rem;
  }

  .describe {
    font-size: 1rem;
  }

  .detail {
    font-size: 1.2rem;
  }
}
