.list ul {
  list-style: none;
  height: 100%;
}
.list ul li {
  border-bottom: 0.02rem solid #272a3a;
  padding: 0.34rem 0.6rem;
  height: 2.68rem;
}
.list ul li:hover {
  cursor: pointer;
}
.title {
  color: #d1cfd9;
  font-size: 0.36rem;
}
.describe {
  color: #595c6c;
  font-size: 0.26rem;
  margin: 0.06rem 0;
}
.detail {
  color: #c9c6d3;
  font-size: 0.28rem;
  height: 0.44rem;
  overflow: hidden;
}
.article_info {
  display: flex;
  justify-content: flex-start;
  color: #a2a4b4;
  font-size: 0.26rem;
  margin-top: 0.16rem;
}
.dianzan {
  margin-right: 0.4rem;
  color: #a2a4b4;
  vertical-align: bottom;
}
.dianzan span {
  vertical-align: bottom;
}

@media screen and (max-width: 750px) {
  .list {
    padding: 1rem 2rem 0;
  }
  .list ul {
    list-style: none;
    /* height: 100%; */
  }

  .list ul li {
    height: auto;
  }

  .title {
    width: 70%;
    font-size: 1.2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .describe {
    color: #595c6c;
    font-size: 0.26rem;
    margin: 0.2rem 0;
  }

  .detail {
    color: var(--theme-text-color);
    height: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .article_info {
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }

  .dianzan {
    margin-right: 1rem;
  }
}
