.follow {
  width: 100%;
  height: 2.5rem;
  padding: 0.5rem 0.65rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  width: 1.5rem;
  height: 1.5rem;
}

.content {
  width: calc(100% - 2rem);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--theme-light-text-color);
}

.info {
  width: 60%;
  height: 100%;
  p {
    font-size: 0.4rem;
  }
  .comment {
    width: 100%;
    font-size: 0.3rem;
    color: var(--theme-unactive-text-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.active {
  padding: 0.15rem 0.3rem;
  color: var(--theme-light-text-color);
  border: 1px solid var(--theme-light-text-color);
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .follow {
    height: auto;
    padding: 1rem 3rem;
  }

  .avatar {
    width: 3rem;
    height: 3rem;
  }

  .content {
    width: calc(100% - 4rem);
  }

  .info {
    p {
      font-size: 1.3rem;
    }
  }
}
