/* 右边代码展示 */
.code {
  width: 75%;
  height: 100%;
  background-color: #24273b;
  padding-left: 20px;
  position: relative;
}
.title {
  margin-top: 20px;
  color: #c3c5d5;
  margin-left: 9px;
  caret-color: transparent;
}
.author_info {
  margin: 10px 10px -10px 10px;
  display: flex;
  justify-content: space-between;
  color: var(--theme-unactive-text-color);
}

.author_det {
  display: flex;
  justify-content: start;
}
.author_avatar {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin-top: 10px;
  background-color: palegoldenrod;
  margin-right: 10px;
}
.detail {
  margin-left: 5px;
  margin-top: 8px;
}
.article_det {
  display: flex;
  justify-content: start;
  font-size: 13px;
}
.read {
  margin-left: 10px;
}
.focus {
  background-color: #444857;
  height: 30px;
  border: none;
  color: #fff;
  margin-top: 10px;
  margin-right: 20px;
}
.dg-html {
  width: 96%;
  margin-left: 9px;
  margin-bottom: 14px;
  position: relative;
}
.hover {
  background-color: #444857;
  color: white;
  display: block;
  width: 60px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 4px;
  font-size: 12px;
  position: absolute;
  top: 30px;
  right: 10px;
}
.hover:hover {
  cursor: pointer;
  transition: 0.36s ease;
}
.unhover {
  display: none;
}
.operation {
  display: flex;
  justify-content: start;
  position: absolute;
  right: 45px;
  bottom: 30px;
}
.operation p {
  margin: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #444857;
  position: relative;
}
.like {
  color: rgb(245, 63, 63);
  font-size: 37px;
  position: absolute;
  left: 6px;
  top: 8px;
}
.unlike {
  font-size: 37px;
  color: #a2a4b4;
  position: absolute;
  left: 6px;
  top: 8px;
}
.collect {
  color: rgb(255, 180, 0);
  font-size: 37px;
  position: absolute;
  left: 7px;
  top: 6px;
}
.uncollect {
  font-size: 37px;
  position: absolute;
  left: 7px;
  top: 6px;
  color: #a2a4b4;
}
.fork {
  position: absolute;
  left: 3px;
  top: -2px;
  margin: 10px;

  color: #a2a4b4;

  font-size: 29px;
}

@media screen and (max-width: 765px) {
  .code {
    width: 100%;
  }
}
