/* 左边评论部分 */
.comment {
  width: 25%;
  background-color: #151728;
  /* height: 100%;
   */
}
.com_det {
  height: 70%;
  /* width: 25%; */
  overflow: auto;
  padding: 10px 0px;
  /* background-color: pink; */
}
.publish_com {
  position: relative;
  border-top: 1px solid #43475d;
  height: 30%;
  display: flex;
  flex-direction: column;
}
.com_neirong {
  width: 85%;
  height: 70%;
  border-radius: 5px;
  background-color: #24273b;
  outline: none;
  border: none;
  margin: 10px auto;
  color: #fff;
  padding: 8px;
}
.com_btn {
  width: 50px;
  position: absolute;
  right: 24px;
  bottom: 5px;
  background-color: #444857;
  border: none;
  color: #fff;
  padding: 4px;
  border-radius: 2px;
}

/* 每一条评论 */
.comment_item {
  margin: 0px 15px;
  /* margin: 5px 10px 0px 10px; */
  padding: 15px;
  background-color: #24273b;
  border-radius: 5px;
}
