/* 主体部分 */
.content {
  width: calc(100vw - 25%);
  margin: 0rem auto;
  padding: 0.8rem 0 0 0;
  display: flex;
  justify-content: center;
  height: calc(100vh - 1.2rem);
  caret-color: transparent;
}

@media screen and (max-width: 750px) {
  .content {
    width: 90%;
  }
}
