.content {
  width: 100%;
  min-height: 100vh;
  position: relative;
}
/* 头部 */
.head {
  display: flex;
  justify-content: space-between;
  height: 1.2rem;
  line-height: 1.2rem;
  background-color: var(--theme-bg-color);
  color: #f7f7f7;
}
.head_l {
  margin-left: 0.4rem;
  caret-color: transparent;
}
.head_r {
  margin-right: 0.4rem;
  display: flex;
  justify-content: start;
}
.avatar {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 1rem;
  padding: 0.2rem;
  background-color: palegoldenrod;
  margin-top: 0.2rem;
}

/* 主体部分 */
.container {
  position: relative;
  display: flex;
  justify-content: start;
  height: 100vh;
  width: 100%;
  flex-direction: row-reverse;
  padding-top: 1.2rem;
}
@media screen and (max-width: 750px) {
  .container {
    padding-top: 3rem;
  }
}
