.achieve {
  color: #c3c5d5;
  background-color: var(--theme-light-bg-color);
  width: 5rem;
}

.title {
  font-size: 0.4rem;
  font-weight: 600;
  width: 100%;
  // line-height: 1rem;
  border-bottom: 0.02rem solid #272a3a;
  padding: 0.3rem;
}

.achieveUl {
  height: 3.5rem;
  padding: 0.3rem;
  list-style: none;
  font-size: 0.35rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;

  > li > *:nth-child(1) {
    color: #1687fa;
  }

  > li > span:nth-child(2) {
    margin-left: 0.1rem;
  }
}
