.personal {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.left {
  // width: 18.5rem;
  width: 100%;
  min-width: 20rem;
  border: 1px solid var(--theme-border-color);
  margin-right: 0.3rem;
}

.right {
  width: 5rem;
  border: 1px solid var(--theme-border-color);
}

.menuDemo {
  width: 100%;
  margin-top: 0.25rem;
}

.menu {
  background-color: var(--theme-bg-color);
}

.content {
  width: 100%;
  border-top: 1px solid var(--theme-border-color);
  background-color: var(--theme-bg-color);
}

@media screen and (max-width: 750px) {
  .right {
    display: none;
  }

  .left {
    width: 100%;
  }
}
