.avatarhead {
  width: 100%;
  padding: 0.25rem;
  background-color: var(--theme-bg-color);
  display: flex;
  justify-content: space-between;
}
.avatar {
  width: 3.5rem;
  height: 3.5rem;
  text-align: center;
  line-height: 3.5rem;
}
.right {
  width: calc(100% - 3.6rem);
  display: flex;
  justify-content: space-between;
}

.name {
  width: 75%;
  padding-top: 0.5rem;
  p {
    font-size: 0.6rem;
    font-weight: 600;
    color: var(--theme-light-text-color);
  }
}

.oth {
  width: 25%;
  padding: 0.6rem 0 0.6rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.social {
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: var(--theme-light-text-color);
  font-size: 0.45rem;
  > * {
    cursor: pointer;
    :hover {
      color: var(--theme-text-color);
    }
  }
}
.edit {
  width: 80%;
  height: 0.7rem;
  color: var(--theme-light-text-color);
  border: 1px solid var(--theme-light-text-color);
  border-radius: 0.1rem;
  font-size: 0.35rem;
  text-align: center;
  line-height: 0.7rem;
  cursor: pointer;

  &:hover {
    color: var(--theme-text-color);
    border: 1px solid var(--theme-text-color);
  }
}
