.item {
  border-bottom: 0.02rem solid #272a3a;
  padding: 0.34rem 0.6rem;
  height: 2.68rem;
  cursor: pointer;
}
.title {
  width: 70%;
  color: #ccc8db;
  font-size: 0.36rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.describe {
  color: #595c6c;
  font-size: 0.26rem;
  margin: 0.06rem 0;
}

.detail {
  color: #ccc8db;
  font-size: 0.28rem;
  height: 0.44rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.article_info {
  display: flex;
  justify-content: flex-start;
  color: #a2a4b4;
  font-size: 0.26rem;
  margin-top: 0.16rem;
  div {
    margin-right: 0.4rem;
    color: #a2a4b4;
    vertical-align: bottom;

    span {
      vertical-align: bottom;
    }
  }
}

@media screen and (max-width: 750px) {
  .item {
    border-bottom: 0.02rem solid #272a3a;
    padding: 1rem 2rem;
    height: auto;
    width: 100%;
  }

  .title {
    font-size: 1.2rem;
  }

  .describe {
    color: #595c6c;
    margin: 0.2rem 0;
  }

  .detail {
    height: auto;
    width: 100%;
  }

  .article_info {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    div {
      margin-right: 1rem;
    }
  }
}
